doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/main.css")
        title Blog Post
    body 
        .blog__post
            .hero__flex
                section.hero
                    .container.hero_container
                        .hero_end 
                            .hero_carousels
                                .left_carousel   
                                    ol.carousel_list 
                                        li.list_item.title  
                                            img(src="../../assets/06.BlogPost/cheese.svg" alt="")
                                            span Ингредиенты
                                        li.list_item 
                                            span Закваски для сыра
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item 
                                            span Ферменты для сыра
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item 
                                            span Хлористый кальций
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")             
                                        li.list_item 
                                            span Плесень для сыра
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item 
                                            span Кисломолочные закваски
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item 
                                            span Красители для сыра 
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item
                                            span Специи для сыра
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="") 
                                .left_carousel_2  
                                    ol.carousel_list 
                                        li.list_item.title  
                                            img(src="../../assets/06.BlogPost/logos/bowl.svg" alt="")
                                            span Оборудование
                                        li.list_item 
                                            span Формы для сыра
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item 
                                            span Латексное покрытие
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item 
                                            span Воск для сыра
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")             
                                        li.list_item 
                                            span Термоусадочные пакеты
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item 
                                            span Дренажные коврики
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item 
                                            span Дренажные мешки и салфетки для прессования 
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="")
                                        li.list_item
                                            span Дренажные контейнеры
                                            .dropright 
                                                img(src="../../assets/06.BlogPost/dropright.svg" alt="") 
                section.blogs
                    .homeveno
                        h2 Вино и сыр – поговорим об этом вечном сочетании
                        img(src="../../assets/img/homeveno.svg", alt="")
                    
                    .homesoc 
                        h3 Сочетание
                        .home__soc__p1
                            p У обоих этих продуктов есть выдержка и история происхождения. Хотя первый пункт для вина более важен, чем для сыра.
                            br
                            p Они идеально дополняют друг друга. Их успешно совмещали сотни лет назад
                            br
                            p Сейчас количество сортов вина и сыра перевалило за 200. Поэтому возникают сложности с формированием идеальной комбинации. Некоторые взаимодействия винных и сырных сортов уже давно стали классическими. Например, голубой молочный продукт из Англии Стилтон всегда запивают классическим портвейном. Или же знаменитый сыр  Рокфор употребляют в пище вместе с сотерном.
                        .home__soc__p2
                            p К большинству сортов сыра сложно подобрать достойное вино. Необходимо учитывать множество факторов – пахучесть, соленость, остроту, жирность, сливочность, кислотность. 
                            br
                            p Если неправильно подобрать вино или сыр, то вкус обоих продуктов испортится. Больше всего от неумения сочетать с правильными сырами страдают красные сухие вина. А вот белые сухие вина страдают меньше  от неудачного соседства.
                            br
                            p Сейчас количество сортов вина и сыра перевалило за 200. Поэтому возникают сложности с формированием идеальной комбинации. Некоторые взаимодействия винных и сырных сортов уже давно стали классическими. Например, голубой молочный продукт из Англии Стилтон всегда запивают классическим портвейном. Или же знаменитый сыр 
                    
                    .cardsob
                        h3 Советы по подбору вин и сыров
                        .cardsob__card.cardsop1
                            img(src="../../assets/06.BlogPost/01.svg", alt="")
                            p Если есть такая возможность, всегда покупайте сыры из того же региона, откуда было доставлено вино. Сыры, которые использовались при приготовлении горячих блюд, идеально совмещаются с красными или белыми сухими винами.
                        .cardsob__card
                            img(src="../../assets/06.BlogPost/02.svg", alt="")
                            p Несколько совершенно разных сортов сыра нельзя запивать одним и тем же вином. Особенно это касается сырной тарелки, в которой присутствует Камамбер, голубой сыр, козий и твердый.
                        .cardsob__card
                            img(src="../../assets/06.BlogPost/03.svg", alt="")
                            p Чем кислее молочный продукт, тем кислее должно быть и вино. К сливочным и очень жирным сортам всегда подается вино с повышенной кислотностью. Мягкие изделия не должны быть слишком желеобразными, если их планируется совмещать с игристым напитком.
                        .cardsob__card
                            img(src="../../assets/06.BlogPost/04.svg", alt="")
                            p Красные напитки с небольшим содержанием танинов комбинируют  с малосольными твердыми сырами. Чем сложнее аромат молочного продукта,  тем старее должно быть вино.
            .cardspop
                h2 популярные рецепты
                .cardspop__cards
                    .cardspop__card 
                        img(src="../../assets/06.BlogPost/cardpop1.svg", alt="")
                        .cardspop__card__cel
                            p.cardsuper посол сырной головки
                            p Особенно характерно наличие дырочек разных размеров в структуре швейцарских сортов сыра. Сначала люди думали, что эти
                            .cardspop__citats
                                p.cardspop__citat Читать далее
                                img(src="../../assets/06.BlogPost/cardspopcitat.svg", alt="")
                    .cardspop__card 
                        img(src="../../assets/06.BlogPost/cardpop2.svg", alt="")
                        .cardspop__card__cel
                            p.cardsuper Сырная тарелка
                            p Особенно характерно наличие дырочек разных размеров в структуре
                            .cardspop__citats
                                p.cardspop__citat Читать далее
                                img(src="../../assets/06.BlogPost/cardspopcitat.svg", alt="")
                    .cardspop__card 
                        img(src="../../assets/06.BlogPost/cardpop3.svg", alt="")
                        .cardspop__card__cel
                            p.cardsuper Откуда в сыре дырки?
                            p Особенно характерно наличие дырочек разных размеров в структуре швейцарских сортов сыра. Сначала люди думали, что эти 
                            .cardspop__citats
                                p.cardspop__citat Читать далее
                                img(src="../../assets/06.BlogPost/cardspopcitat.svg", alt="")