doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/main.css")
        title 07.Delivery
    body
        .delivery
            .hero__flex
                section.hero
                    .container.hero_container
                        .hero_end 
                            .hero_carousels
                                .left_carousel   
                                    ol.carousel_list 
                                        li.list_item.title  
                                            img(src="./assets/logos/cheese.svg" alt="")
                                            span Ингредиенты
                                        li.list_item 
                                            span Закваски для сыра
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item 
                                            span Ферменты для сыра
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item 
                                            span Хлористый кальций
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")             
                                        li.list_item 
                                            span Плесень для сыра
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item 
                                            span Кисломолочные закваски
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item 
                                            span Красители для сыра 
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item
                                            span Специи для сыра
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="") 
                                .left_carousel_2  
                                    ol.carousel_list 
                                        li.list_item.title  
                                            img(src="./assets/logos/bowl.svg" alt="")
                                            span Оборудование
                                        li.list_item 
                                            span Формы для сыра
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item 
                                            span Латексное покрытие
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item 
                                            span Воск для сыра
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")             
                                        li.list_item 
                                            span Термоусадочные пакеты
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item 
                                            span Дренажные коврики
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item 
                                            span Дренажные мешки и салфетки для прессования 
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")
                                        li.list_item
                                            span Дренажные контейнеры
                                            .dropright 
                                                img(src="./assets/logos/dropright.svg" alt="")   
                section.deli
                            .homedoc 
                                h2 Доставка и оплата
                                h3 Способы оплаты:
                            .cardspeds
                                .cardspeds_ped
                                    .cardspeds_ped__cantent
                                        img(src="../img/cardped1.svg", alt="")
                                        p.cardsped__h1 Предоплата по счету
                                        p При оформлении заказа выберите в поле оплаты "счёт для юридических лиц" и введите реквизиты. Счет на оплату будет выслан на электронную почту.
                                .cardspeds_ped
                                    .cardspeds_ped__cantent
                                        img(src="../img/cardped1.svg", alt="")
                                        p.cardsped__h1 Он-лайн оплата
                                        p Вы всегда можете оплатить заказ наличными – курьеру, на почте или при получении в транспортной компании.
                                .cardspeds_ped
                                    .cardspeds_ped__cantent
                                        img(src="../img/cardped1.svg", alt="")
                                        p.cardsped__h1 Наличными при получении
                                        p Вы можете оплатить товар в интернет магазине банковской картой или с использованием платежных систем Яндекс-деньги и Web-money
                            .locations
                                .locations__card
                                    h3 Способы Доставки:
                                    p.location__doc Доставка по Новосибирску
                                    p Вы можете забрать товар из нашего магазина самостоятельно, приехав по адресу: 
                                    p.ofes г. Новосибирск, ул. Котовского, д. 12/1, офис 1
                                    .locationdastop
                                        img(src="../img/dastop.svg", alt="")
                                        p Или заказать курьерскую доставку. Стоимость доставки – 
                                            span.ofes 150 рублей.
                                .locations__img 
                                    img(src="../img/locaiton.svg", alt="")
                            .locations
                                .sdek
                                    img(src="../img/sdeck.svg", alt="")
                                .locations__card 
                                    p.location__doc.h3 Доставка по Российской федерации 
                                    p Доставка по РФ осуществляется логистическими службами 
                                        span.ofes СДЭК и Почта России.  
                                    p В любой момент Вы можете отследить путь своего заказа по трек-номеру.
                                    p Приблизительные сроки и стоимость доставки указаны в таблице ниже. Окончательная сумма зависит от веса и способа оплаты заказа (при наложенном платеже – стоимость доставки выше) и рассчитывается автоматически в момент оформления.
            .jadval
                .jadval__pochta.jadval_flex
                    p.jadvalh1 Почта России
                    p Транпортная компания СДЭК
                    p Пункт выдачи Boxberry
                .jadval__color.jadval_flex
                    p.jadvalh1 Сроки доставки
                    p От 7 дней
                    p 2-4 дня
                    p 2-4 дня
                .jadval_flex
                    p.jadvalh1 Стоимость доставки
                    p От 200 руб.
                    p От 350 руб. Итоговая сумма 
                    p будет рассчитана после указания точного адреса
                    p От 200 руб.
                .jadval__color.jadval_flex
                    p.jadvalh1 Бесплатная доставка
                    p При заказе от 2000 руб.
                    p При заказе от 7000 руб.
                    P При заказе от 2000 руб.