section.about 
    .container.about_container 
        .about_boxes 
            .about_title 
                h2 Мы подобрали для вас
            .about_cardes 
                .about_card#dostavka
                    .card_title
                        h3 более 1000 лучших рецептов
                        p Мы собрали для Вас большую
                            |базу рецептов.
                        button.card_btn Перейти


                .about_card_2
                    .card_title 
                        h3 более 1000 лучших рецептов
                        p Мы собрали для Вас большую
                            |базу рецептов.
                        button.card_btn Перейти


            .about_title_2 
                h2 наше оборудование
            .about_step#garanti 
                .step_title
                    h3 Прессы для сыра
                    p Пресс можно использовать для прессования твердых сыров. Он разбирается, и вы можете компактно его упаковать в коробку. 
                    button.card_btn Узнать больше
                    .navigation
                        .chevrons 
                            img(src="../assets/logos/chevron_left.svg" alt="")
                            img(src="../assets/logos/chevron_right.svg" alt="")

                        .text 
                            p 01 / 03
                            .imgs 
                                img(src="../assets/logos/rectangle.svg" alt="")
                                img.black_line(src="./assets/logos/rectangle2.svg" alt="")
                .step_img 
                    img(src="../assets/logos/step_after_bg_img.svg" alt="")
            

            .centered_card 
                .about_centered_card 
                    .top_img 
                        img(src="../assets/imgs/about_centered_card_img.png", alt="")
                    .title 
                        h3 Сырная тарелка
                        p Так называется блюдо, которое состоит из разных сортов сыра. 
                        a(href="#") Читать далее 
                            span 
                                img(src="../assets/logos/sm_chevron_right.svg", alt="") 