$max_width: 1680px;
$light_color: #fff;
$center: center;
$red: rgb(255, 0, 0);

$padding_y: 10px;
$padding_x: 70px;
$btn_p_y: .2rem;
$space-around: space-around;
$space-between: space-between;
$Roboto: 'Roboto';
$Circle_Rounded: 'Varela Round';

$header_button_width: 136px;

$header_button_height: 30px;

$d-flex: flex;
$sans-serif: sans-serif;



$product_card_box_max_width: 864px;
$product_card_box_height: 660px;

$card_max_width: 208px;
$card_height: 300px;
$h2_lg_size: 46px;

$second_height: 720px;


$about_card_max_width: 530px;
$about_card_height: 350px;

$aboutStep_max_width: 1180px;
$aboutStep_height: 440px;


$footer_height: 400px;

$korzina_max_width: 500px;


$dropdown_max_width: 250px;
$dorpdown_height: 396px;